## DataFrames

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
series = pd.Series([7, 4.2, np.nan, 6, 9])
series

0    7.0
1    4.2
2    NaN
3    6.0
4    9.0
dtype: float64

In [ ]:
type(series)

pandas.core.series.Series

In [ ]:
datas = pd.date_range('20180101', periods=6)
# Aqui estou pegando a data inicial e
# criando uma lista com ela + 6 datas a frente
datas

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df2 = pd.DataFrame(np.random.randn(6,4), columns = ['Jan', 'Fev', 'Mar', 'Abr'])
# Estou criando um df com os valores de random
# O index será de 0 a 5
# As colunas serão de Jan a Abr

In [ ]:
df2

In [4]:
df2 = pd.DataFrame({'A':7,
                    'B':pd.Timestamp('20200101'),
                    'C':12,
                    'D':14}, index=[0])

In [5]:
df2

   A          B   C   D
0  7 2020-01-01  12  14

In [ ]:
df2.dtypes

In [ ]:
datas = pd.date_range('20190101', periods=60, freq="D")
df = pd.DataFrame(np.random.randn(60,5), index=datas, columns=list('ABCDE'))
df.shape
# O dataframe tem 60 linhas e 5 colunas

(60, 5)

In [ ]:
df.head(5)

                   A         B         C         D         E
2019-01-01 -0.068779 -2.341858  0.732965 -0.433950 -2.038283
2019-01-02 -1.098944 -0.647362  0.185309  1.916949 -0.054994
2019-01-03  0.287584  1.068261  0.474123 -0.078356  1.176059
2019-01-04  0.603467 -1.549171  0.574598 -2.245579 -0.439847
2019-01-05 -2.066246  0.570792  2.258585  0.822033  0.581454

In [ ]:
# Adicionando uma coluna ao dataframe
# A coluna 'F' terá todos os valores como 1´s
df['F'] = 1
df.head(5)

                   A         B         C         D         E  F
2019-01-01 -0.068779 -2.341858  0.732965 -0.433950 -2.038283  1
2019-01-02 -1.098944 -0.647362  0.185309  1.916949 -0.054994  1
2019-01-03  0.287584  1.068261  0.474123 -0.078356  1.176059  1
2019-01-04  0.603467 -1.549171  0.574598 -2.245579 -0.439847  1
2019-01-05 -2.066246  0.570792  2.258585  0.822033  0.581454  1

In [ ]:
# Adicionando uma nova coluna com os valores de A e B multiplicados
df['Produto'] = df['A'] * df['B']
df.head(5)

                   A         B         C         D         E  F   Produto
2019-01-01 -0.068779 -2.341858  0.732965 -0.433950 -2.038283  1  0.161070
2019-01-02 -1.098944 -0.647362  0.185309  1.916949 -0.054994  1  0.711415
2019-01-03  0.287584  1.068261  0.474123 -0.078356  1.176059  1  0.307215
2019-01-04  0.603467 -1.549171  0.574598 -2.245579 -0.439847  1 -0.934873
2019-01-05 -2.066246  0.570792  2.258585  0.822033  0.581454  1 -1.179397

In [ ]:
# É possível também alterar os valores de uma coluna já existente
df['D'] = 88
# Aqui estou atribuindo o valor 88 a todas as linhas da coluna D
df.head(5)

                   A         B         C   D         E  F   Produto
2019-01-01 -0.068779 -2.341858  0.732965  88 -2.038283  1  0.161070
2019-01-02 -1.098944 -0.647362  0.185309  88 -0.054994  1  0.711415
2019-01-03  0.287584  1.068261  0.474123  88  1.176059  1  0.307215
2019-01-04  0.603467 -1.549171  0.574598  88 -0.439847  1 -0.934873
2019-01-05 -2.066246  0.570792  2.258585  88  0.581454  1 -1.179397

In [ ]:
# Visualizar as colunas do dataframe
df.columns

Index(['A', 'B', 'C', 'D', 'E', 'F', 'Produto'], dtype='object')

In [ ]:
# Posso armazenar a lista de colunas do dataframe em uma variável
colunas = df.columns
colunas

Index(['A', 'B', 'C', 'D', 'E', 'F', 'Produto'], dtype='object')

In [ ]:
colunas[0]

'A'

In [ ]:
# Pegar os dados de df2 e colocar num array numpy
array_df2 = df2.to_numpy()
array_df2

array([[7, Timestamp('2020-01-01 00:00:00'), 12, 14]], dtype=object)

In [ ]:
df2

   A          B   C   D
0  7 2020-01-01  12  14

In [ ]:
# Obter a matriz trasnposta do dataframe df2
# As linhas viram colunas e vice-versa
df2.T

                     0
A                    7
B  2020-01-01 00:00:00
C                   12
D                   14

In [ ]:
df3 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                   index=[0,1,2,3])
df3

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [ ]:
df4 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                   index=[4,5,6,7])
df4

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [ ]:
# Concatenando dataframes
frames = [df3, df4]
df_combinados = pd.concat(frames)
df_combinados

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [ ]:
# Outra opção
df_combinados2 = pd.concat([df3,df4])
df_combinados2

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [ ]:
# Dividindo os dataframes concatenados em subgrupos
grupo = pd.concat([df3,df4], keys=['frame1', 'frame2'])
grupo

           A   B   C   D
frame1 0  A0  B0  C0  D0
       1  A1  B1  C1  D1
       2  A2  B2  C2  D2
       3  A3  B3  C3  D3
frame2 4  A4  B4  C4  D4
       5  A5  B5  C5  D5
       6  A6  B6  C6  D6
       7  A7  B7  C7  D7

In [ ]:
grupo['A']

frame1  0    A0
        1    A1
        2    A2
        3    A3
frame2  4    A4
        5    A5
        6    A6
        7    A7
Name: A, dtype: object

In [ ]:
# Posso fazer uma busca apenas no frame 2 do grupo
grupo.loc['frame2']

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [ ]:
# Tambem posso concatenar usando o metodo append()
grupo2 = df3.append(df4)
grupo2
# Posso ainda concatenar o grupo2 com outro dataframe, usando append

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

## Merge e GroupBy

In [ ]:
# Cadastro da loja a
cadastro_a = {'Id': ['AA2930', 'BB4563', 'CC2139', 'DE2521', 'GT3462', 'HH1158'],
              'Nome': ['Victor', 'Amanda', 'Bruna', 'Carlos', 'Ricardo', 'Maria'],
              'Idade': [20,35,40,54,30,27],
              'CEP': ['00092-029', '11111-111', '22222-888', '00000-999', '88888-111', '77777-666']}

cadastro_a = pd.DataFrame(cadastro_a, columns=['Id', 'Nome', 'Idade', 'CEP'])
cadastro_a

       Id     Nome  Idade        CEP
0  AA2930   Victor     20  00092-029
1  BB4563   Amanda     35  11111-111
2  CC2139    Bruna     40  22222-888
3  DE2521   Carlos     54  00000-999
4  GT3462  Ricardo     30  88888-111
5  HH1158    Maria     27  77777-666

In [ ]:
cadastro_b = {'Id': ['CC9999', 'EF4488', 'DD9999', 'GT3462', 'HH1158'],
              'Nome': ['Marcos', 'Patricia', 'Ericka', 'Ricardo', 'Maria'],
              'Idade': [19,30,22,30,27],
              'CEP': ['00092-029', '11111-111', '22222-888', '00000-999', '88888-111']}

cadastro_b = pd.DataFrame(cadastro_b, columns=['Id', 'Nome', 'Idade', 'CEP'])
cadastro_b

       Id      Nome  Idade        CEP
0  CC9999    Marcos     19  00092-029
1  EF4488  Patricia     30  11111-111
2  DD9999    Ericka     22  22222-888
3  GT3462   Ricardo     30  00000-999
4  HH1158     Maria     27  88888-111

In [ ]:
compras = {'Id': ['AA2930', 'BB4563', 'CC2139', 'DE2521', 'GT3462', 'HH1158'],
           'Data': ['2019-01-01', '2019-01-30', '2019-02-12', '2019-02-20', '2019-03-25', '2019-03-27'],
           'Valor': [200,100,40,150,300,25]}
compras = pd.DataFrame(compras, columns=['Id', 'Data', 'Valor'])
compras

In [ ]:
# Merge = pd.merge(tabela_da_esquerda, tabela_da_direita, on="coluna_coincidente", how="left||right||inner||outer")

In [ ]:
# Inner join - faz um merge com a INTERSECÇÃO entre as duas tabelas
pd.merge(cadastro_a, cadastro_b, on=['Id'], how='inner')
# Percebe-se que Ricardo e Maria são clientes em ambas as lojas

       Id   Nome_x  Idade_x      CEP_x   Nome_y  Idade_y      CEP_y
0  GT3462  Ricardo       30  88888-111  Ricardo       30  00000-999
1  HH1158    Maria       27  77777-666    Maria       27  88888-111

In [ ]:
pd.merge(cadastro_a, cadastro_b[['Id', 'Idade', 'CEP']], on=['Id'], how='inner')

       Id     Nome  Idade_x      CEP_x  Idade_y      CEP_y
0  GT3462  Ricardo       30  88888-111       30  00000-999
1  HH1158    Maria       27  77777-666       27  88888-111

In [ ]:
pd.merge(cadastro_a, cadastro_b[['Id', 'Idade', 'CEP']], on=['Id'], how='inner', suffixes=('_A', '_B'))

       Id     Nome  Idade_A      CEP_A  Idade_B      CEP_B
0  GT3462  Ricardo       30  88888-111       30  00000-999
1  HH1158    Maria       27  77777-666       27  88888-111

In [ ]:
# Full join - faz um merge juntando todos os dados
lojas = pd.concat([cadastro_a,cadastro_b],ignore_index=True)

In [ ]:
# Tira os clientes duplicados com base no Id
lojas.drop_duplicates(subset='Id')

       Id      Nome  Idade        CEP
0  AA2930    Victor     20  00092-029
1  BB4563    Amanda     35  11111-111
2  CC2139     Bruna     40  22222-888
3  DE2521    Carlos     54  00000-999
4  GT3462   Ricardo     30  88888-111
5  HH1158     Maria     27  77777-666
6  CC9999    Marcos     19  00092-029
7  EF4488  Patricia     30  11111-111
8  DD9999    Ericka     22  22222-888

In [ ]:
# Left join - Estou identificando os clientes da loja a que fizeram compras
esquerda = pd.merge(cadastro_a, compras, how='left', on=['Id'])

In [ ]:
esquerda.groupby(['Id', 'Nome'])['Valor'].sum()

Id      Nome
AA2930  Victor     200
BB4563  Amanda     100
CC2139  Bruna       40
DE2521  Carlos     150
GT3462  Ricardo    300
HH1158  Maria       25
Name: Valor, dtype: int64

In [ ]:
# Outer join
pd.merge(cadastro_a, cadastro_b, how='outer', on=['Id'])
# Repare que os clientes que estão nas duas lojas, se repetem

       Id   Nome_x  Idade_x      CEP_x    Nome_y  Idade_y      CEP_y
0  AA2930   Victor     20.0  00092-029       NaN      NaN        NaN
1  BB4563   Amanda     35.0  11111-111       NaN      NaN        NaN
2  CC2139    Bruna     40.0  22222-888       NaN      NaN        NaN
3  DE2521   Carlos     54.0  00000-999       NaN      NaN        NaN
4  GT3462  Ricardo     30.0  88888-111   Ricardo     30.0  00000-999
5  HH1158    Maria     27.0  77777-666     Maria     27.0  88888-111
6  CC9999      NaN      NaN        NaN    Marcos     19.0  00092-029
7  EF4488      NaN      NaN        NaN  Patricia     30.0  11111-111
8  DD9999      NaN      NaN        NaN    Ericka     22.0  22222-888

In [ ]:
pd.merge(cadastro_a, cadastro_b, how='outer', on=['Id'], indicator=True)
# O parametro indicator mostra quais dados estão em ambas as tabelas

       Id   Nome_x  Idade_x  ... Idade_y      CEP_y      _merge
0  AA2930   Victor     20.0  ...     NaN        NaN   left_only
1  BB4563   Amanda     35.0  ...     NaN        NaN   left_only
2  CC2139    Bruna     40.0  ...     NaN        NaN   left_only
3  DE2521   Carlos     54.0  ...     NaN        NaN   left_only
4  GT3462  Ricardo     30.0  ...    30.0  00000-999        both
5  HH1158    Maria     27.0  ...    27.0  88888-111        both
6  CC9999      NaN      NaN  ...    19.0  00092-029  right_only
7  EF4488      NaN      NaN  ...    30.0  11111-111  right_only
8  DD9999      NaN      NaN  ...    22.0  22222-888  right_only

[9 rows x 8 columns]

In [ ]:
df = pd.DataFrame({'A': ['verdadeiro', 'falso', 'verdadeiro', 'falso',
                                'verdadeiro', 'falso', 'verdadeiro', 'falso'],
                            'B': ['um', 'um', 'dois', 'tres',
                                  'dois', 'dois', 'um', 'tres'],
                            'C': np.random.randn(8),
                            'D': np.random.randn(8)})
df

            A     B         C         D
0  verdadeiro    um  0.192092 -0.378768
1       falso    um  0.752907  0.300165
2  verdadeiro  dois  0.984687  0.783159
3       falso  tres -0.025015  3.284831
4  verdadeiro  dois -1.132471  0.813032
5       falso  dois -0.838656 -1.013039
6  verdadeiro    um -0.889997 -0.525317
7       falso  tres -0.977300  1.344566

In [ ]:
# Estou fazendo uma soma dos valores das categorias da coluna A
df.groupby(['A']).sum()

                   C         D
A
falso      -1.088064  3.916522
verdadeiro -0.845690  0.692105

In [ ]:
df.groupby(['A']).mean()

                   C         D
A
falso      -0.272016  0.979130
verdadeiro -0.211423  0.173026

In [ ]:
# Agrupado por B!
df.groupby(['B']).sum()

             C         D
B
dois -0.986441  0.583151
tres -1.002315  4.629396
um    0.055002 -0.603920

In [ ]:
# Agrupado por A e B!
df.groupby(['A', 'B']).sum()

                        C         D
A          B
falso      dois -0.838656 -1.013039
           tres -1.002315  4.629396
           um    0.752907  0.300165
verdadeiro dois -0.147785  1.596190
           um   -0.697906 -0.904085

## Reshaping de Dados

In [ ]:
datas = pd.date_range('20200101', periods=6)

df = pd.DataFrame(np.random.randn(6, 4), index=datas, columns=['Var_A', 
                                                               'Var_B', 
                                                               'Var_C', 
                                                               'Var_D'])
df

               Var_A     Var_B     Var_C     Var_D
2020-01-01  0.043971 -1.115791  0.589916  0.284964
2020-01-02 -1.812781  0.377102  1.524082 -1.412828
2020-01-03  0.593820 -0.452228  0.687955  2.068160
2020-01-04  0.068043 -0.240612 -0.080854 -0.985655
2020-01-05  0.362156  0.152703 -1.116957 -0.816400
2020-01-06  0.487971  0.677857  1.120521 -0.765780

In [ ]:
dft = df.T
# Transposta de df
dft

       2020-01-01  2020-01-02  2020-01-03  2020-01-04  2020-01-05  2020-01-06
Var_A    0.043971   -1.812781    0.593820    0.068043    0.362156    0.487971
Var_B   -1.115791    0.377102   -0.452228   -0.240612    0.152703    0.677857
Var_C    0.589916    1.524082    0.687955   -0.080854   -1.116957    1.120521
Var_D    0.284964   -1.412828    2.068160   -0.985655   -0.816400   -0.765780

In [ ]:
df.shape

(6, 4)

In [ ]:
df.values

array([[ 0.04397069, -1.11579083,  0.58991556,  0.284964  ],
       [-1.81278097,  0.37710203,  1.52408179, -1.41282827],
       [ 0.59381979, -0.45222758,  0.68795521,  2.06815987],
       [ 0.06804338, -0.24061249, -0.08085433, -0.98565525],
       [ 0.36215584,  0.15270266, -1.11695681, -0.81639997],
       [ 0.48797067,  0.6778566 ,  1.12052087, -0.76577958]])

In [ ]:
np.size(df.values)

24

In [ ]:
v = df.values
v

array([[ 0.04397069, -1.11579083,  0.58991556,  0.284964  ],
       [-1.81278097,  0.37710203,  1.52408179, -1.41282827],
       [ 0.59381979, -0.45222758,  0.68795521,  2.06815987],
       [ 0.06804338, -0.24061249, -0.08085433, -0.98565525],
       [ 0.36215584,  0.15270266, -1.11695681, -0.81639997],
       [ 0.48797067,  0.6778566 ,  1.12052087, -0.76577958]])

In [ ]:
v.reshape(2,12)
# Posso usar qlq shape desde que o valor final da multiplicacao seja 24
# Tem que estar compativel com os dados originais

array([[ 0.04397069, -1.11579083,  0.58991556,  0.284964  , -1.81278097,
         0.37710203,  1.52408179, -1.41282827,  0.59381979, -0.45222758,
         0.68795521,  2.06815987],
       [ 0.06804338, -0.24061249, -0.08085433, -0.98565525,  0.36215584,
         0.15270266, -1.11695681, -0.81639997,  0.48797067,  0.6778566 ,
         1.12052087, -0.76577958]])

## Função pivot() e pivot_table()

In [ ]:
dias = pd.date_range(start='20190101', periods=12)
dias

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
               '2019-01-09', '2019-01-10', '2019-01-11', '2019-01-12'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
Pessoa = ['Hilton', 'Victor', 'Lucas']

In [ ]:
np.random.choice(Pessoa)

'Victor'

In [ ]:
nome = []
gasto = []
for i in range(12):
    nome.append(np.random.choice(Pessoa))
    gasto.append(np.round(np.random.rand()*100, decimals=2))
nome

['Hilton',
 'Victor',
 'Lucas',
 'Hilton',
 'Lucas',
 'Victor',
 'Lucas',
 'Hilton',
 'Lucas',
 'Victor',
 'Victor',
 'Lucas']

In [ ]:
gasto

[65.7,
 61.23,
 89.09,
 97.58,
 77.82,
 36.97,
 4.36,
 60.55,
 50.0,
 30.99,
 79.09,
 19.69]

In [ ]:
df = pd.DataFrame({'Data':dias, 'Nome':nome, 'Gasto':gasto})
df

         Data    Nome  Gasto
0  2019-01-01  Hilton  65.70
1  2019-01-02  Victor  61.23
2  2019-01-03   Lucas  89.09
3  2019-01-04  Hilton  97.58
4  2019-01-05   Lucas  77.82
5  2019-01-06  Victor  36.97
6  2019-01-07   Lucas   4.36
7  2019-01-08  Hilton  60.55
8  2019-01-09   Lucas  50.00
9  2019-01-10  Victor  30.99
10 2019-01-11  Victor  79.09
11 2019-01-12   Lucas  19.69

In [ ]:
df.pivot(index='Data', columns='Nome', values='Gasto')

Nome        Hilton  Lucas  Victor
Data
2019-01-01   65.70    NaN     NaN
2019-01-02     NaN    NaN   61.23
2019-01-03     NaN  89.09     NaN
2019-01-04   97.58    NaN     NaN
2019-01-05     NaN  77.82     NaN
2019-01-06     NaN    NaN   36.97
2019-01-07     NaN   4.36     NaN
2019-01-08   60.55    NaN     NaN
2019-01-09     NaN  50.00     NaN
2019-01-10     NaN    NaN   30.99
2019-01-11     NaN    NaN   79.09
2019-01-12     NaN  19.69     NaN

In [ ]:
carros = [7,4,3,2,8]
dias = pd.date_range('20190101', '20190101', periods=5)
vendedor = ['Pedro', 'Artur', 'Magno', 'Pedro', 'Artur']

df = pd.DataFrame({'Vendas': carros, 'Data':dias, 'Vendedor':vendedor})
df

   Vendas       Data Vendedor
0       7 2019-01-01    Pedro
1       4 2019-01-01    Artur
2       3 2019-01-01    Magno
3       2 2019-01-01    Pedro
4       8 2019-01-01    Artur

In [ ]:
pd.pivot_table(df, index='Data', columns='Vendedor', values='Vendas', aggfunc='sum')
# com essa tabela percebemos que Artur vendeu 12 carros, Magno vendeu 3 e Pedro 9

Vendedor    Artur  Magno  Pedro
Data
2019-01-01     12      3      9

# Funções stack() e unstack()

In [ ]:
df = pd.read_csv('https://cdncontribute.geeksforgeeks.org/wp-content/uploads/nba.csv')
df.head()

            Name            Team  Number  ... Weight            College     Salary
0  Avery Bradley  Boston Celtics     0.0  ...  180.0              Texas  7730337.0
1    Jae Crowder  Boston Celtics    99.0  ...  235.0          Marquette  6796117.0
2   John Holland  Boston Celtics    30.0  ...  205.0  Boston University        NaN
3    R.J. Hunter  Boston Celtics    28.0  ...  185.0      Georgia State  1148640.0
4  Jonas Jerebko  Boston Celtics     8.0  ...  231.0                NaN  5000000.0

[5 rows x 9 columns]

In [ ]:
df.shape

(458, 9)

In [ ]:
stack_df = df.stack()
stack_df

0    Name         Avery Bradley
     Team        Boston Celtics
     Number                   0
     Position                PG
     Age                     25
                      ...
456  Age                     26
     Height                 7-0
     Weight                 231
     College             Kansas
     Salary              947276
Length: 4018, dtype: object

In [ ]:
stack_df.unstack()

              Name            Team  ...            College       Salary
0    Avery Bradley  Boston Celtics  ...              Texas  7.73034e+06
1      Jae Crowder  Boston Celtics  ...          Marquette  6.79612e+06
2     John Holland  Boston Celtics  ...  Boston University          NaN
3      R.J. Hunter  Boston Celtics  ...      Georgia State  1.14864e+06
4    Jonas Jerebko  Boston Celtics  ...                NaN        5e+06
..             ...             ...  ...                ...          ...
452     Trey Lyles       Utah Jazz  ...           Kentucky   2.2398e+06
453   Shelvin Mack       Utah Jazz  ...             Butler  2.43333e+06
454      Raul Neto       Utah Jazz  ...                NaN       900000
455   Tibor Pleiss       Utah Jazz  ...                NaN      2.9e+06
456    Jeff Withey       Utah Jazz  ...             Kansas       947276

[457 rows x 9 columns]

## Função melt()

In [ ]:
df = pd.DataFrame({'A': {0:'a', 1:'b', 2:'c'},
                   'B': {0:1, 1:3, 2:5},
                   'C': {0:2, 1:4, 2:6}})
df

   A  B  C
0  a  1  2
1  b  3  4
2  c  5  6

In [ ]:
pd.melt(df, id_vars=['A'], value_vars=['B'])

   A variable  value
0  a        B      1
1  b        B      3
2  c        B      5

In [ ]:
pd.melt(df, id_vars=['A'], value_vars=['B', 'C'])

   A variable  value
0  a        B      1
1  b        B      3
2  c        B      5
3  a        C      2
4  b        C      4
5  c        C      6

In [ ]:
pd.melt(df, id_vars=['A'], value_vars=['B', 'C'], var_name='VarTeste', value_name='Valores')

   A VarTeste  Valores
0  a        B        1
1  b        B        3
2  c        B        5
3  a        C        2
4  b        C        4
5  c        C        6

## Filtros e Manipulação de Dados

In [ ]:
datas = pd.date_range('20180101', periods=600, freq='D')
df = pd.DataFrame(np.random.randn(600, 5), index=datas, columns=list('ABCDE'))

In [ ]:
df.head(3)

                   A         B         C         D         E
2018-01-01 -0.898108  1.266265 -1.552328 -1.587456  0.543499
2018-01-02 -0.703168  0.956169 -0.241620  0.065328 -0.156342
2018-01-03 -0.484108 -1.285439 -1.638392 -0.109317 -0.617042

In [ ]:
df['B'].head(5)

2018-01-01    1.266265
2018-01-02    0.956169
2018-01-03   -1.285439
2018-01-04   -0.429102
2018-01-05    0.607080
Freq: D, Name: B, dtype: float64

In [ ]:
# Aqui estou selecionando os dados da linha 1 até a linha 4
df[1:5]

                   A         B         C         D         E
2018-01-02 -0.703168  0.956169 -0.241620  0.065328 -0.156342
2018-01-03 -0.484108 -1.285439 -1.638392 -0.109317 -0.617042
2018-01-04 -0.608483 -0.429102  1.111897 -0.010242  0.075905
2018-01-05 -0.211898  0.607080  0.928527  0.849526  0.073570

In [ ]:
# Aqui estou selecionando todas as linhas das colunas B, C e D
df.loc[:, ['B', 'C', 'D']]

                   B         C         D
2018-01-01  1.266265 -1.552328 -1.587456
2018-01-02  0.956169 -0.241620  0.065328
2018-01-03 -1.285439 -1.638392 -0.109317
2018-01-04 -0.429102  1.111897 -0.010242
2018-01-05  0.607080  0.928527  0.849526
...              ...       ...       ...
2019-08-19  0.154759 -1.059665  0.280847
2019-08-20  0.929965  1.648219  0.808311
2019-08-21  0.608911 -0.166683  2.348186
2019-08-22 -0.939842 -0.489560  0.627265
2019-08-23  1.205659  0.525103  0.337144

[600 rows x 3 columns]

In [ ]:
table = df.loc['2018-01-01':'2018-01-05', ['A', 'E']]

In [ ]:
table

                   A         E
2018-01-01 -0.898108  0.543499
2018-01-02 -0.703168 -0.156342
2018-01-03 -0.484108 -0.617042
2018-01-04 -0.608483  0.075905
2018-01-05 -0.211898  0.073570

In [ ]:
len(table)

5

In [ ]:
# O iloc() localiza dados pelos seus respectivos índices
# Aqui estou obtendo todos os valores da linha de índice 1
df.iloc[1]

A   -0.703168
B    0.956169
C   -0.241620
D    0.065328
E   -0.156342
Name: 2018-01-02 00:00:00, dtype: float64

In [ ]:
# Aqui estou obtendo todos os valores da linha de índice 100
df.iloc[100]

A   -0.890563
B   -1.851290
C    1.090599
D    2.177825
E    0.243899
Name: 2018-04-11 00:00:00, dtype: float64

In [ ]:
# Também posso especificar índices de colunas para serem buscadas
# Aqui estou buscando as linhas 1 a 3 e as colunas 0 a 1, lembrando que o último número é exclusivo
df.iloc[1:4, 0:2]

                   A         B
2018-01-02 -0.703168  0.956169
2018-01-03 -0.484108 -1.285439
2018-01-04 -0.608483 -0.429102

In [ ]:
# Também posso pegar linhas e colunas específicas do DataFrame
# Aqui estou pegando as linhas 1, 5 e 6 e as colunas 0 e 3
df.iloc[[1,5,6], [0,3]]

                   A         D
2018-01-02 -0.703168  0.065328
2018-01-06 -1.224869  1.536099
2018-01-07  0.334058 -1.893434

In [ ]:
# Aqui estou obtendo somente os valores positivos do dataframe
# Os valores negativos vieram como NaN
df[df > 0]

                   A         B         C         D         E
2018-01-01       NaN  1.266265       NaN       NaN  0.543499
2018-01-02       NaN  0.956169       NaN  0.065328       NaN
2018-01-03       NaN       NaN       NaN       NaN       NaN
2018-01-04       NaN       NaN  1.111897       NaN  0.075905
2018-01-05       NaN  0.607080  0.928527  0.849526  0.073570
...              ...       ...       ...       ...       ...
2019-08-19       NaN  0.154759       NaN  0.280847       NaN
2019-08-20       NaN  0.929965  1.648219  0.808311  0.978853
2019-08-21  0.479212  0.608911       NaN  2.348186       NaN
2019-08-22  0.167843       NaN       NaN  0.627265  0.398674
2019-08-23  0.722510  1.205659  0.525103  0.337144  0.937314

[600 rows x 5 columns]

## Limpeza de dados

In [ ]:
datas = pd.date_range('20200101', periods=6)

df = pd.DataFrame(np.random.randn(6, 4), index=datas, columns=['Var_A', 'Var_B',
                                                               'Var_C', 'Var_D'])
df

               Var_A     Var_B     Var_C     Var_D
2020-01-01 -0.050183 -0.118489  0.110741  0.207801
2020-01-02 -0.685916  0.476940 -0.125305  0.858182
2020-01-03  1.739302 -2.115816  0.178394  0.221665
2020-01-04  0.248182  0.638782 -0.131203 -0.752815
2020-01-05  0.276660  0.809419  0.659995  0.330910
2020-01-06 -0.499456  0.015288  2.081773  0.564495

In [ ]:
df.dtypes

Var_A    float64
Var_B    float64
Var_C    float64
Var_D    float64
dtype: object

In [ ]:
carros = ['Onix', 'Cruze', 'Tracker', 'Onix', 'Camaro']
cor = ['Prata', 'Branco', 'Branco', 'Azul', 'Amarelo']
dias = pd.date_range('20210101', '20210101', periods=5)
vendedor = ['Pedro', 'Artur', 'Magno', 'Pedro', 'Artur']
preco = [69000.0, 81990.90, 120000.0, 69000.0, 250000.0]

df2 = pd.DataFrame({'Carro': carros, 'Preco': preco, 'Cor': cor, 'Data':dias,
                    'Vendedor':vendedor})
df2

     Carro     Preco      Cor       Data Vendedor
0     Onix   69000.0    Prata 2021-01-01    Pedro
1    Cruze   81990.9   Branco 2021-01-01    Artur
2  Tracker  120000.0   Branco 2021-01-01    Magno
3     Onix   69000.0     Azul 2021-01-01    Pedro
4   Camaro  250000.0  Amarelo 2021-01-01    Artur

In [ ]:
df2.dtypes

Carro               object
Preco              float64
Cor                 object
Data        datetime64[ns]
Vendedor            object
dtype: object

In [ ]:
df2.describe()

              Preco
count       5.00000
mean   117998.18000
std     76692.00621
min     69000.00000
25%     69000.00000
50%     81990.90000
75%    120000.00000
max    250000.00000

In [ ]:
df1 = df.reindex(index=datas[0:4], columns=list(df.columns) + ['Var_E'])
df1

               Var_A     Var_B     Var_C     Var_D  Var_E
2020-01-01 -0.050183 -0.118489  0.110741  0.207801    NaN
2020-01-02 -0.685916  0.476940 -0.125305  0.858182    NaN
2020-01-03  1.739302 -2.115816  0.178394  0.221665    NaN
2020-01-04  0.248182  0.638782 -0.131203 -0.752815    NaN

In [ ]:
# Estou adicionando nas linhas 0 e 1 do df o valor 77
df1.loc[datas[0]:datas[1], 'Var_E'] = 77
df1

               Var_A     Var_B     Var_C     Var_D  Var_E
2020-01-01 -0.050183 -0.118489  0.110741  0.207801   77.0
2020-01-02 -0.685916  0.476940 -0.125305  0.858182   77.0
2020-01-03  1.739302 -2.115816  0.178394  0.221665    NaN
2020-01-04  0.248182  0.638782 -0.131203 -0.752815    NaN

In [ ]:
# Repare que os valores NaN não entram na contagem do count
df1.describe()

          Var_A     Var_B     Var_C     Var_D  Var_E
count  4.000000  4.000000  4.000000  4.000000    2.0
mean   0.312846 -0.279646  0.008157  0.133708   77.0
std    1.027663  1.266679  0.159935  0.664332    0.0
min   -0.685916 -2.115816 -0.131203 -0.752815   77.0
25%   -0.209116 -0.617821 -0.126780 -0.032353   77.0
50%    0.099000  0.179225 -0.007282  0.214733   77.0
75%    0.620962  0.517400  0.127655  0.380794   77.0
max    1.739302  0.638782  0.178394  0.858182   77.0

In [ ]:
datas = pd.date_range('20190101', periods=60, freq='D')
df = pd.DataFrame(np.random.randn(60, 5), index=datas, columns=list('ABCDE'))
df.head(3)

                   A         B         C         D         E
2019-01-01  0.426113  1.615371  1.551820  1.549134  0.986145
2019-01-02  1.394339 -0.613329 -0.222520 -0.626859 -1.274140
2019-01-03  0.881966 -1.796030 -1.093367 -0.343774  0.244945

In [ ]:
df['F'] = df.A[ df.A > 0 ]
# Obs.: df['A'] == df.A
df.head()

                   A         B         C         D         E         F
2019-01-01  0.426113  1.615371  1.551820  1.549134  0.986145  0.426113
2019-01-02  1.394339 -0.613329 -0.222520 -0.626859 -1.274140  1.394339
2019-01-03  0.881966 -1.796030 -1.093367 -0.343774  0.244945  0.881966
2019-01-04 -0.382299 -0.891265 -0.707656 -0.489741  1.227957       NaN
2019-01-05 -1.117128 -0.846017 -1.193524  0.962788 -0.625642       NaN

## Dados missing - NaN

In [ ]:
df2 = df.copy()

In [ ]:
df3 = df.copy()

In [ ]:
# Esse comando verifica se existem valores NaN no dataframe
# No caso do df existem sim!
df.isnull().values.any()

True

In [ ]:
# dropar os valores NaN, remove as linhas com NaN
df2.dropna()

                   A         B         C         D         E         F
2019-01-01  0.426113  1.615371  1.551820  1.549134  0.986145  0.426113
2019-01-02  1.394339 -0.613329 -0.222520 -0.626859 -1.274140  1.394339
2019-01-03  0.881966 -1.796030 -1.093367 -0.343774  0.244945  0.881966
2019-01-09  0.864336 -2.909495  0.252595  0.548077 -1.266382  0.864336
2019-01-10  0.203897 -0.274240 -1.783899  0.325281 -1.867488  0.203897
2019-01-13  0.971385 -0.339604  0.274524  0.793497  0.022284  0.971385
2019-01-14  1.358552  1.274106  0.517941  0.823788  0.625440  1.358552
2019-01-15  1.418316 -0.439570  1.017413 -0.324595  0.313488  1.418316
2019-01-19  0.788028  0.289141 -3.468231  0.150738  1.085230  0.788028
2019-01-20  0.149142 -0.690516 -0.750618  0.144700  1.154169  0.149142
2019-01-23  0.299993  1.332052 -1.619121 -0.603922 -1.113274  0.299993
2019-01-25  0.223325 -0.375923 -1.910640 -0.683045  0.219507  0.223325
2019-01-26  0.232569  0.684590  0.883829  1.067293  0.553785  0.232569
2019-01-28  1.018111  0.807520  1.793890  0.426934  0.668207  1.018111
2019-01-29  0.299653  0.174338 -0.991267  0.571041  0.133350  0.299653
2019-01-30  0.825381 -1.908962 -0.686516  1.716415 -0.354727  0.825381
2019-01-31  0.272206  1.142671 -1.075746 -1.106370 -0.573736  0.272206
2019-02-03  0.343645  1.429782 -1.448669  0.020947 -1.119176  0.343645
2019-02-04  0.598510  0.181698  0.303701 -0.689023  2.120460  0.598510
2019-02-06  1.404035 -0.820512  0.410301 -0.749762 -0.935721  1.404035
2019-02-08  0.761112 -1.547257  2.197662  0.652186  0.840094  0.761112
2019-02-09  1.178178  1.035114 -0.029395  0.272899 -0.886459  1.178178
2019-02-10  1.530865 -0.235977 -1.312261 -0.257763 -0.161042  1.530865
2019-02-11  0.571726 -0.944809 -1.552159  0.183188  1.739439  0.571726
2019-02-14  0.708782  0.367879 -1.409901 -0.823836  1.153715  0.708782
2019-02-16  1.751742  0.390069  0.009875 -0.110358 -0.782175  1.751742
2019-02-22  0.281421 -0.133799 -1.053342  0.362961  2.275839  0.281421
2019-02-25  0.384436  1.375793  0.207247 -1.862748 -1.863430  0.384436
2019-02-27  0.226208  0.599935 -1.044929  1.372146 -0.007944  0.226208
2019-02-28  1.308059 -0.049330  2.168821  0.125599  0.944961  1.308059
2019-03-01  0.543987 -0.332726 -2.010311 -0.852995 -1.181786  0.543987

In [ ]:
# substituindo os valores NaN pela média de valores
# Obs.: df['A'] == df.A
df3.fillna(np.mean(df3['A']))

                   A         B         C         D         E         F
2019-01-01  0.426113  1.615371  1.551820  1.549134  0.986145  0.426113
2019-01-02  1.394339 -0.613329 -0.222520 -0.626859 -1.274140  1.394339
2019-01-03  0.881966 -1.796030 -1.093367 -0.343774  0.244945  0.881966
2019-01-04 -0.382299 -0.891265 -0.707656 -0.489741  1.227957  0.054555
2019-01-05 -1.117128 -0.846017 -1.193524  0.962788 -0.625642  0.054555
2019-01-06 -2.094266  1.217826  1.380444 -0.205915  0.077524  0.054555
2019-01-07 -0.942128 -0.025630  0.086987  0.228844  0.125704  0.054555
2019-01-08 -1.904217 -0.429550 -0.004644 -0.193344  0.459395  0.054555
2019-01-09  0.864336 -2.909495  0.252595  0.548077 -1.266382  0.864336
2019-01-10  0.203897 -0.274240 -1.783899  0.325281 -1.867488  0.203897
2019-01-11 -0.474809 -0.034993  0.418025  0.497956  1.128221  0.054555
2019-01-12 -0.152665  0.804888 -0.163502 -1.155112 -0.982950  0.054555
2019-01-13  0.971385 -0.339604  0.274524  0.793497  0.022284  0.971385
2019-01-14  1.358552  1.274106  0.517941  0.823788  0.625440  1.358552
2019-01-15  1.418316 -0.439570  1.017413 -0.324595  0.313488  1.418316
2019-01-16 -1.066761 -1.092717 -0.069218 -0.676635 -0.451950  0.054555
2019-01-17 -1.304901 -0.553400 -1.184648 -1.129931  0.509506  0.054555
2019-01-18 -0.389400 -0.793092  0.487810 -0.472783  0.797145  0.054555
2019-01-19  0.788028  0.289141 -3.468231  0.150738  1.085230  0.788028
2019-01-20  0.149142 -0.690516 -0.750618  0.144700  1.154169  0.149142
2019-01-21 -0.188466 -0.374170  0.016721  0.006962  0.784173  0.054555
2019-01-22 -0.073631 -0.751606 -0.582637  0.288610 -1.318808  0.054555
2019-01-23  0.299993  1.332052 -1.619121 -0.603922 -1.113274  0.299993
2019-01-24 -0.082150 -0.966821 -1.802216 -1.323703  0.420353  0.054555
2019-01-25  0.223325 -0.375923 -1.910640 -0.683045  0.219507  0.223325
2019-01-26  0.232569  0.684590  0.883829  1.067293  0.553785  0.232569
2019-01-27 -0.281888 -0.995287 -0.379914 -1.902307 -1.002588  0.054555
2019-01-28  1.018111  0.807520  1.793890  0.426934  0.668207  1.018111
2019-01-29  0.299653  0.174338 -0.991267  0.571041  0.133350  0.299653
2019-01-30  0.825381 -1.908962 -0.686516  1.716415 -0.354727  0.825381
2019-01-31  0.272206  1.142671 -1.075746 -1.106370 -0.573736  0.272206
2019-02-01 -0.313226  2.818634  0.873274 -0.436680 -1.720137  0.054555
2019-02-02 -0.478704 -0.325392 -0.556184 -0.198937  1.807401  0.054555
2019-02-03  0.343645  1.429782 -1.448669  0.020947 -1.119176  0.343645
2019-02-04  0.598510  0.181698  0.303701 -0.689023  2.120460  0.598510
2019-02-05 -0.311869  0.227493 -0.850826  0.707781  1.729866  0.054555
2019-02-06  1.404035 -0.820512  0.410301 -0.749762 -0.935721  1.404035
2019-02-07 -0.634511 -1.010840 -1.947596 -0.831576  0.362195  0.054555
2019-02-08  0.761112 -1.547257  2.197662  0.652186  0.840094  0.761112
2019-02-09  1.178178  1.035114 -0.029395  0.272899 -0.886459  1.178178
2019-02-10  1.530865 -0.235977 -1.312261 -0.257763 -0.161042  1.530865
2019-02-11  0.571726 -0.944809 -1.552159  0.183188  1.739439  0.571726
2019-02-12 -0.987840  0.004376  0.306468 -0.610752  0.559251  0.054555
2019-02-13 -0.875517  0.966008  0.804735  0.061244  0.483863  0.054555
2019-02-14  0.708782  0.367879 -1.409901 -0.823836  1.153715  0.708782
2019-02-15 -0.416155  1.254807 -0.514121  0.310221  0.804466  0.054555
2019-02-16  1.751742  0.390069  0.009875 -0.110358 -0.782175  1.751742
2019-02-17 -0.076078  0.064532  1.796207  0.516472 -0.927663  0.054555
2019-02-18 -0.775926 -1.889158 -1.779726  2.206452 -1.105595  0.054555
2019-02-19 -0.552974 -0.943239  0.441869  2.188960 -0.283281  0.054555
2019-02-20 -0.241852 -1.008328 -0.160160 -0.621463  1.059559  0.054555
2019-02-21 -1.799956 -0.433465  1.077125 -2.199722  0.658298  0.054555
2019-02-22  0.281421 -0.133799 -1.053342  0.362961  2.275839  0.281421
2019-02-23 -0.432476 -1.325473 -1.636228  0.900320  0.781673  0.054555
2019-02-24 -0.923006  0.052841 -2.177055  2.505790 -0.116959  0.054555
2019-02-25  0.384436  1.375793  0.207247 -1.862748 -1.863430  0.384436
2019-02-26 -0.671920  1.193482 -0.473543  0.659695 -1.955417  0.054555
2019-02-27  0.226208  0.599935 -1.044929  1.372146 -0.007944  0.226208
2019-02-28  1.308059 -0.049330  2.168821  0.125599  0.944961  1.308059
2019-03-01  0.543987 -0.332726 -2.010311 -0.852995 -1.181786  0.543987

In [ ]:
df4 = df.copy()

In [ ]:
# Também posso substituir os NaN por um escalar específico
df4 = df4.fillna(0)
df4.head()

                   A         B         C         D         E         F
2019-01-01  0.426113  1.615371  1.551820  1.549134  0.986145  0.426113
2019-01-02  1.394339 -0.613329 -0.222520 -0.626859 -1.274140  1.394339
2019-01-03  0.881966 -1.796030 -1.093367 -0.343774  0.244945  0.881966
2019-01-04 -0.382299 -0.891265 -0.707656 -0.489741  1.227957  0.000000
2019-01-05 -1.117128 -0.846017 -1.193524  0.962788 -0.625642  0.000000

## Dados Únicos

In [ ]:
carros = ['Onix', 'Cruze', 'Tracker', 'Onix', 'Camaro']
cor = ['Prata', 'Branco', 'Branco', 'Azul', 'Amarelo']
dias = pd.date_range('20210101', '20210101', periods=5)
vendedor = ['Pedro', 'Artur', 'Magno', 'Pedro', 'Artur']
preco = [69000.0, 81990.90, 120000.0, 69000.0, 250000.0]

df2 = pd.DataFrame({'Carro': carros, 'Preco': preco, 'Cor': cor, 'Data':dias,
                    'Vendedor':vendedor})
df2

     Carro     Preco      Cor       Data Vendedor
0     Onix   69000.0    Prata 2021-01-01    Pedro
1    Cruze   81990.9   Branco 2021-01-01    Artur
2  Tracker  120000.0   Branco 2021-01-01    Magno
3     Onix   69000.0     Azul 2021-01-01    Pedro
4   Camaro  250000.0  Amarelo 2021-01-01    Artur

In [ ]:
# Conta a quantidade de dados únicos em cada coluna do df
df2.nunique()

Carro       4
Preco       4
Cor         4
Data        1
Vendedor    3
dtype: int64

In [ ]:
# Também posso mudar o axis e contar os dados únicos das linhas
# Perceba que em cada linha tenho 5 valores diferentes
df2.nunique(axis=1)

0    5
1    5
2    5
3    5
4    5
dtype: int64

## Removendo duplicatas

In [ ]:
df2.drop_duplicates()

     Carro     Preco      Cor       Data Vendedor
0     Onix   69000.0    Prata 2021-01-01    Pedro
1    Cruze   81990.9   Branco 2021-01-01    Artur
2  Tracker  120000.0   Branco 2021-01-01    Magno
3     Onix   69000.0     Azul 2021-01-01    Pedro
4   Camaro  250000.0  Amarelo 2021-01-01    Artur

In [ ]:
# Remove as duplicatas mantendo o primeiro dado
df2.drop_duplicates(subset='Vendedor')

     Carro     Preco     Cor       Data Vendedor
0     Onix   69000.0   Prata 2021-01-01    Pedro
1    Cruze   81990.9  Branco 2021-01-01    Artur
2  Tracker  120000.0  Branco 2021-01-01    Magno

In [ ]:
# Remove tudo o que se repete com base na coluna Vendedor
df2.drop_duplicates(subset='Vendedor', keep=False)

     Carro     Preco     Cor       Data Vendedor
2  Tracker  120000.0  Branco 2021-01-01    Magno

## Ordenação dos dados

In [ ]:
df = pd.DataFrame({'Col1':['A','A','B', np.nan, 'D', 'C'], 
                   'Col2':[2,1,9,8,7,4], 
                   'Col3':[0,1,9,4,2,3]})
df

  Col1  Col2  Col3
0    A     2     0
1    A     1     1
2    B     9     9
3  NaN     8     4
4    D     7     2
5    C     4     3

In [ ]:
df.sort_index

<bound method DataFrame.sort_index of   Col1  Col2  Col3
0    A     2     0
1    A     1     1
2    B     9     9
3  NaN     8     4
4    D     7     2
5    C     4     3>

In [ ]:
df.sort_values(by='Col1')

  Col1  Col2  Col3
0    A     2     0
1    A     1     1
2    B     9     9
5    C     4     3
4    D     7     2
3  NaN     8     4

In [ ]:
df.sort_values(by='Col2')

  Col1  Col2  Col3
1    A     1     1
0    A     2     0
5    C     4     3
4    D     7     2
3  NaN     8     4
2    B     9     9

In [ ]:
df.sort_values(by='Col3')

  Col1  Col2  Col3
0    A     2     0
1    A     1     1
4    D     7     2
5    C     4     3
3  NaN     8     4
2    B     9     9

In [ ]:
# Primeiro ordena a Col3, depois a Col1
df.sort_values(by=['Col3', 'Col1'])

  Col1  Col2  Col3
0    A     2     0
1    A     1     1
4    D     7     2
5    C     4     3
3  NaN     8     4
2    B     9     9

In [ ]:
# Ordenando na ordem decrescente
df.sort_values(by='Col3', ascending=False)

  Col1  Col2  Col3
2    B     9     9
3  NaN     8     4
5    C     4     3
4    D     7     2
1    A     1     1
0    A     2     0

## Importando e exportando dados

In [ ]:
data = pd.read_csv('iris.data')

In [ ]:
data.head(3)

In [ ]:
data.dtypes

In [ ]:
data.shape

In [ ]:
data.describe()

## Visualizando dados

In [ ]:
plt.style.available

In [ ]:
# Especifica o tamanho do retangulo dos graficos plt
plt.rcParams['figure.figsize'] = (12,7)

In [ ]:
df = pd.read_csv('titanic_train.csv')

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
# Plotando a idade dos passageiros do titanic
plt.plot(df.Age, '*-r')
plt.xlabel('Passageiro', size=14)
plt.ylabel('Idade', size=14)
plt.title('Idades dos passageiros do titanic', size=18, )
plt.show()

In [ ]:
df.Age.plot()
plt.show()

In [ ]:
df.plot()
plt.show()

In [ ]:
plt.scatter(df.PassengerId, df.Age, marker='+')
plt.show()

In [ ]:
df.Age.describe()

In [ ]:
df.Age.hist()
plt.xlabel('Idade')
plt.ylabel('Frequencia observada')
plt.show()

In [ ]:
# Salvará a ultima figura plotada no notebook
plt.savefig('histograma_idades.png')